@import 'variables.scss';

.main-feature {
  .feature-image {
    perspective: 1000px;
    text-align: center;
    width: 100%;
    max-width: 415px;
    min-height: 252px;
    img {
      transform: rotateY(25deg);
      outline: 1px solid transparent;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &.is-reverse {
    text-align: right;
    .columns {
      flex-direction: row-reverse;
    }
    .feature-image {
      img{
        transform: rotateY(-25deg);
      }
    }
  }
  @media screen and (max-width: $tablet) {
    text-align: center;
    &.is-reverse {
      text-align: center;
    }
    .feature-image {
      perspective: unset;
      max-width: 100%;
    }
    .content {
      display: block;
    }
  }
}